*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
}
.mrg{
    margin: 60px 0px;
}
.navbar1{
    background-color:  #9d8661;
    align-items: center;
}
/* Shopping Cart */
.ShoppingCartParent{
    position: relative;
    /* margin-left: 10px; */
}
.shoppingCartCount{
 position: absolute;
  background-color:lavenderblush;
  color: #393e46;
  font-size: 1.7vh;
  left: 146px;
  bottom: 28px;
  width: 2.5vh;
  height: 2.5vh;
  text-align: center;
  align-items: center;
  border-radius: 55%;
}
/*Background Home*/
.backgroundHome img{
    width: 100%;
    height: auto;
    opacity: 0.8;
}
.backgroundHome{
    position: relative;
}
.navbar-text{
    position: absolute;
    top:30%;
    left: 21%;
    color: white;
    font-size: 4vh;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}
input[name="shopNow"]{
    position: absolute;
    width: 200px;
    height: 60px;
    background-color: #9d8661;
    color: white;
    top:38%;
    left: 45%;
    font-size: 20px;
    letter-spacing: 1.6px;
    border: #9d8661 ;
    text-transform: uppercase;
}
/* best seller section*/
.bestseller-clothes p{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Old Standard TT';
    font-size: 3.3vh;
    letter-spacing: 1.6px;
}
/* footer*/
.footerEnd{
    background-color: #9d8661;
    width: 100%;
    height: auto;
}
.FooterItems{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
.FooterItems .FooterTitle,.footerIcons{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 3.4vh;
    color:blanchedalmond;
}
.footerItem{
    font-size: 2.5vh;
    color: #393e46;
}
.footerEnd{
    bottom:0px;
}
@media screen and (min-width:100px) and (max-width:992px){
    /* Shopping Cart */
.ShoppingCartParent{
    position: relative;
    /* margin-left: 10px; */
}
.shoppingCartCount{
 position: absolute;
  background-color: white;
  color: #393e46;
  font-size: 2vh;
  left: 30px;
  bottom: 27px;
  width: 2.8vh;
  height: 2.8vh;
  text-align: center;
  align-items: center;
  border-radius: 55%;
}
}
@media screen and (min-width:990px) {
    /* .navbar1{ height: 55px;}
    .navbar{position: relative;}
    .navbar1 .navbar .navbar-nav{
        position: absolute;
        right:20px;
        top:6px
    } */
}
@media screen and (min-width:100px) and (max-width:500px){
    .backgroundHome{
        position: relative;
    }
    .backgroundHome  .navbar-text{
        position: absolute;
        top:35%;
        left: 10%;
        font-size: 1.4vh;
    }
    input[name="shopNow"]{
        width:130px;
        height: 40px;
        font-size: 2vh;
        top:49%;
        left: 35%;
    }
}
@media screen and (min-width:501px) and (max-width:1200px){
    .backgroundHome{
        position: relative;
    }
    .backgroundHome  .navbar-text{
        position: absolute;
        top:35%;
        left: 10%;
        font-size: 2vh;
    }
    input[name="shopNow"]{
        width:130px;
        height: 40px;
        font-size: 2vh;
        top:45%;
        left: 40%;
    }
}
@media  screen and (min-width:1200px){
    .beig-hearder .navbar-nav li,.beig-hearder .navbar .nav-item{
        margin-left:1250px;
    }
}
@media  screen and (min-width:1200px){
    .navbar .d-flex{
        margin-left: 300px;
    }
   .navbar .navbar-nav{
    margin-left: 455px;
   }
}

